@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  /* font-family: "Archangelsk", sans-serif;
  font-weight: 400; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  color: #000;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.top {
  width: 100%;
  height: 1000px;
  background-image: url(../assets/bg-img-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header__logo {
  cursor: pointer;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header__menu-item {
}

.header__menu-link {
}

.hero__inner {
  position: relative;
}

.hero__box {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 70px;
  background-color: #f8f200;
  clip-path: polygon(
    9.8% 0.5%,
    100% 0%,
    100% 83.7%,
    90.2% 100%,
    0% 100%,
    0% 17.1%
  );
}

.hero__title {
  max-width: 484px;
  font-size: 62px;
  font-family: "Archangelsk", sans-serif;
  line-height: 63.3px;
  font-weight: 400;
}

.hero__btn {
  margin-top: 25px;
  padding: 19px 50px;
  background-color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #f8f200;
}

/* about */

.about {
  background-color: #fff;
}

.about__inner {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}

.about__title {
  font-family: "Archangelsk", sans-serif;
  font-size: 62px;
  color: #000;
}

.about__text {
  margin-top: 25px;
}
.about__images {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.about__img {
  width: 100%;
  height: 100%;
}

.img-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.img-2 {
  grid-column: 2/4;
  grid-row: 1/3;
}

.img-3 {
  grid-column: 1/2;
  grid-row: 2/3;
}

/* play */

.play {
  background-color: #000;
  position: relative;
}

.play__top-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-image: url("../assets/play-top-img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.play__inner {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

.play__title-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 30px;
}

.play__title {
  font-family: "Archangelsk", sans-serif;
  font-size: 62px;
  color: #fff;
}

.play__text {
  color: #fff;
  max-width: 952px;
}

.play__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.play__form {
  max-width: 460px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.play__input {
  margin-top: 20px;
  width: 100%;
  padding: 13px 0;
  border-bottom: 1px solid #777777;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #fff;
}

.play__input::placeholder {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #fff;
}

.play__file-box {
  margin-top: 35px;
  padding: 39px 0;
  width: 100%;
  border: 1px dashed #777777;
  color: #fff;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play__file-title {
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
  line-height: 21px;
}

.play__file-text {
  margin-top: 7px;
  font-size: 12px;
  line-height: 14px;
}

.play__btn {
  margin-top: 35px;
  padding: 19px 50px;
  background-color: #f8f200;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.game__checkbow-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.game__checkbox {
}

.game__checbox-label {
  font-size: 13px;
  font-weight: 300;
  line-height: 14px;
  color: #fff;
}

.play__bottom-img {
}

/* full */

.full {
  background-color: #f8f200;
  position: relative;
}

.full__top-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
}

.full__inner {
  padding: 140px 0 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.full__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.full__monitor-img {
}

.full__left-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.full_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.full__title {
  font-size: 62px;
  font-family: "Archangelsk", sans-serif;
  line-height: 63.3px;
  font-weight: 400;
}

.full__content {
  margin-top: 25px;
}

.full__item-box {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.full__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.full__btn {
  margin-top: 40px;
  padding: 19px 50px;
  background-color: #000;
  color: #f8f200;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

/* game */

.game {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #000;
}

.game__left {
  padding-right: 16px;
  width: 100%;
  height: 100%;
}

.game__img {
  width: 100%;
  height: 100%;
}

.game__right {
  padding: 140px 0 70px 16px;
  max-width: 624px;
  color: #fff;
}
.game__title {
  font-size: 62px;
  font-family: "Archangelsk", sans-serif;
  line-height: 63.3px;
  font-weight: 400;
}
.game__subtitle-1 {
  margin-top: 25px;
  color: #52bedc;
}
.game__complect-box {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.game__complect-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.game__subtitle-2 {
  margin-top: 60px;
  color: #52bedc;
}
.game__platform-box {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 180px 180px;
  row-gap: 55px;
  justify-items: start;
  align-items: center;
}

/* footer */

.footer {
  background-color: #fff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
}
.footer__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.footer__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

/* copyright */

.copyright {
  background-color: #000;
}

.copyright__inner {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #fff;
}

/* other */

.blue {
  color: #52bedc;
}
